# Node.js modules
node_modules/

# Build artifacts
frontend/build/
frontend/dist/
backend/logs/
backend/coverage/

# Environment variables
frontend/.env
backend/.env

# Cache files
frontend/.cache/

# Logs
*.log

# Editor/IDE-specific files
.vscode/
.DS_Store
*.sublime-workspace
*.sublime-project
